.show-counter {
   display: flex;
   flex-direction: row;
   flex: 1;
   border: 0px solid purple;
   justify-content: center;
}

.main-counter {
   display: flex;
   flex-direction: column;
   width: 75%;
   border: 0px solid green;
   justify-content: center;
}

.countdown-title {
   align-self: center;
   margin-top: 3%;
}
