.main-btn {
   height: 50%;
   width: 40%;
   border: 2px solid white;
   background-color: transparent;
   color: white;
   border-radius: 1rem;
   transition-duration: 0.4s;
   cursor: pointer;
   font-family: "Rubik", sans-serif;
   font-weight: 500;
   font-size: 25px;
}

.main-btn:hover {
   background-color: white;
   color: rgb(55, 57, 62);
   transition-duration: 0.4s;
}

.btn-container {
   display: flex;
   flex-direction: row;
   height: 30%;
   width: 60%;
   justify-content: space-around;
   align-items: center;
   border: 0px solid aquamarine;
}
