.container {
   position: absolute;
   top: 2rem;
   left: 2rem;
   display: flex;
   flex-direction: column;
   background-color: var(--card-bg-color);
   border-radius: 2rem;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.buttonContainer {
   width: 10rem;
   outline: none;
   border: none;
   border: 0px solid var(--main-text-color);
   background-color: var(--button-bg-color);
   border-radius: 1rem;
   padding: 1rem;
   margin: 1.2rem;
   text-align: center;
   font-size: 1rem;
   font-weight: bold;
   color: var(--main-text-color);
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttonContainer:hover {
   background-color: var(--tint-color);
   color: var(--main-card-text-color);
}

.menuIcon {
   display: none;
}

.hamburgerButtonContainer {
   display: none;
}

@media screen and (max-width: 800px) {
   .container {
      display: none;
   }
   .menuIcon {
      display: block;
      font-size: 2rem;
      color: var(--main-card-text-color);
   }
   .hamburgerButtonContainer {
      display: block;
      outline: none;
      border: none;
      border: 0px solid var(--main-text-color);
      background-color: var(--tint-color);
      padding: 1rem;
      margin: 1.2rem;
      font-size: 1rem;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      position: absolute;
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      bottom: 3%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
